name: "Test, build, and deploy Python package"

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags:
      - v*
permissions:
  contents: read

jobs:
  test:
    name: Test package
    runs-on: ubuntu-latest

    steps:
      # checkout@v5.0.0
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.2
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          activate-environment: true

      # Use pip to build within the build/ directory
      - name: Build and install package
        run: |
          pip install --no-build-isolation -Cbuild-dir=build -v .
      # This should have built the tests too, so lets run ctest!
      - name: test C++
        run: cd build && ctest --output-on-failure
      # And since that 1 command also installed the python package, we can pytest
      - name: Test with Python ${{ matrix.environment }}
        run: pytest

  make-sdist:
    name: Build the sdists for PerceMon
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build sdist
        run: uv build --sdist
      - uses: actions/upload-artifact@v5
        with:
          name: release-sdists
          path: dist/

  make-wheels:
    name: Build wheels for PerceMon
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, macos-latest]
    runs-on: ${{ matrix.os }}
    needs:
      - test
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build wheels
        run: uvx cibuildwheel --output-dir dist
      - uses: actions/upload-artifact@v5
        with:
          name: release-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./dist/*.whl

  publish-pypi:
    name: Upload package to PyPI
    environment:
      name: pypi
      url: https://pypi.org/p/PerceMon
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    if: "startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    needs: [make-sdist, make-wheels]
    steps:
      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - uses: actions/download-artifact@v6
        with:
          pattern: release-*
          path: dist
          merge-multiple: true
      - name: Publish to PyPI
        run: uv publish
